<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106628881310-r9v90mv368g804g36fgm61ph6prhiiu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106628881310-r9v90mv368g804g36fgm61ph6prhiiu3</string>
	<key>API_KEY</key>
	<string>AIzaSyC3spaXd5tWlN-GQMFc5NFT70MoBeDwtzI</string>
	<key>GCM_SENDER_ID</key>
	<string>106628881310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salihcnkhy.TodoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-10721</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-10721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106628881310:ios:f3bbda0d9f915b1e00d48f</string>
</dict>
</plist>